<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <main style=" padding: 20px; background-color: #f0f0f0;">
        <form method="post" action="/contact" style="margin-top: 20px; text-align: center;">
            <input type="type"  name="email"  style="padding: 10px; margin-right: 10px; border: 1px solid #ccc;">
            <input type="password" name="password"  style="padding: 10px; margin-right: 10px; border: 1px solid #ccc;">
            <input type="submit" value="Send" style="padding: 10px; background-color: #007bff; color: #fff; border: none; cursor: pointer;">
        </form>
    </main>
</body>
</html>
