<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <style>
        body {
            background-color: #000;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            color: #fff;
            font-family: Arial, sans-serif;
        }

        main {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 50vw;
            height: 50vh;
            background-color: #000;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            text-align: center;
        }

        h1 {
            margin: 0 0 20px;
            font-size: 24px;
            color: #fff;
        }

        input[type="submit"] {
            padding: 10px 20px;
            background-color: blue;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: darkblue;
        }
    </style>
</head>

<body>
    <main>
        <h1>Log out</h1>
        <h1><%= Email %></h1>
        <form method="get" action="/logout">
            <input type="submit" value="Log Out">
        </form>
    </main>
</body>

</html>